body{
margin:0;
padding:0;
background:black;
}

.container{
position:relative;
max-width:400px;
margin:auto;
}

.mainimg{
width:100%;
display:block;
}

.lang{
position:absolute;
top:20px;
left:20px;
}

.menu{
position:absolute;
top:20px;
right:20px;
width:50px;
height:40px;
}

.get{
position:absolute;
bottom:90px;
left:50%;
transform:translateX(-50%);
width:220px;
height:60px;
}

.home{
position:absolute;
top:20px;
left:20px;
width:60px;
height:40px;
}
